@font-face {
   font-family: 'cerebrisans-semibold';
   font-display: swap;
   src: url('cerebrisans-semibold/font.ttf');
}
@font-face {
   font-family: 'cerebrisans-medium';
   font-display: swap;
   src: url('cerebrisans-medium/font.ttf');
}
