* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cerebri Sans';
}

.logo {
  text-align: center;
  padding-bottom: 1rem;
}

.logo img {
  width: 150px;
}

.links {
  text-align: center;
}

.links h6 {
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0;
}

.links h6 a {
  color: #fff;
}

.links p {
  color: #fff;
}

.links p a {
  color: #fff;
}

main {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 8rem;
  height: 130vh;
}

#login-page {
  padding: 2rem 25rem;
  height: 100vh;
}

.login {
  background: #fff;
  padding: 0;
  border-radius: 2px;
}

.login h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  color: #05f;
}

.account {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: #fbfbfb;
  border-radius: 5px;
}

.instructions {
  background: #f8f8f8;
  padding: 4rem;
  padding-right: 4rem;
}

.instructions h1 {
  padding: 1rem 0;
  color: #05f;
}

.instructions .intro {
  padding: 1rem 0;
  font-size: .9rem;
  text-align: justify;
}

.instructions .instruction-set {
  padding: .5rem 0;
}

.instructions .instruction-set span {
  padding-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .8rem;
}

.instructions .instruction-set .info {
  font-size: 1.2rem;
}

.instructions .nb {
  padding-top: 3rem;
  font-size: .9rem;
  text-align: justify;
}

.instructions .nb span {
  color: #05f;
  font-weight: bolder;
}

.form-area {
  padding: 4rem;
}

.form-area form h1 {
  padding-bottom: 1rem;
}

.form-area form .form-input {
  width: 100%;
  padding: .6rem 1rem;
  border: 1px solid #ddd;
  outline: none;
  background: none;
  font-size: 1rem;
}

.form-area form .form-input:focus {
  border: 1px solid #05f;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-area form .input-area {
  padding: .5rem 0;
}

.form-area form .input-area p {
  padding-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .7rem;
}

.form-area form .name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem;
}

.form-area form .other-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: .5rem;
}

.form-area form .btn {
  padding: 1rem 0;
}

.form-area form .btn button {
  width: 100%;
  padding: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  background: #00b386;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
}
/*# sourceMappingURL=account.css.map */