*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cerebri Sans';
}

.logo{
    text-align: center;
    img{
        width: 150px;
    }
    padding-bottom: 1rem;
}
.links{
    text-align: center;
    h6{
        font-size: .8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        padding: 1rem 0;
        a{
            color: #fff;
            // text-decoration: none;
        }
    }
    p{
        color: #fff;
        a{
            color: #fff;
            // text-decoration: none;
        }
    }
}


main{
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 8rem;
    height: 130vh;
}

#login-page{
    padding: 2rem 25rem;
    height: 100vh;
}

.login{
    background: #fff;
    padding: 0;
    border-radius: 2px;

    h1{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2rem;
        color: #05f;
        
    }
}

.account{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fbfbfb;
    
    border-radius: 5px;
}
// Instructions
.instructions{
    background: #f8f8f8;
    padding: 4rem;
    h1{
        padding: 1rem 0;
        color: #05f;
    }
    padding-right: 4rem;
    .intro{
        padding: 1rem 0;
        font-size: .9rem;
        text-align: justify;
    }
    .instruction-set{
        padding: .5rem 0;
        span{
            padding-bottom: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: .8rem;
        }
        .info{
            font-size: 1.2rem;
        }
    }
    .nb{
        padding-top: 3rem;
        font-size: .9rem;
        text-align: justify;
        span{
            color: #05f;
            font-weight: bolder;
        }
    }
}


// Form
.form-area{
    padding: 4rem;
    form{
        h1{
            padding-bottom: 1rem;
        }
        .form-input{
            width: 100%;
            padding: .6rem 1rem;
            border: 1px solid #ddd;
            // border-radius: 5px;
            outline: none;
            background: none;
            font-size: 1rem;
            &:focus{
                border: 1px solid #05f;
                transition: all .3s ease-in-out;
            }
    
        }
        .input-area{
            padding: .5rem 0;
            p{
                padding-bottom: 1rem;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: .7rem;
            }
        }
        .name{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: .5rem;
        }
        .other-info{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: .5rem;
        }
        
        .btn{
            padding: 1rem 0;
            button{
                width: 100%;
                padding: 1rem;
                letter-spacing: 2px;
                text-transform: uppercase;
                border-radius: 2px;
                background: #00b386;
                border: none;
                outline: none;
                cursor: pointer;
                color: #fff;
                font-weight: bolder;
            }
        }
    }
}