@font-face {
   font-family: 'cerebrisans-medium';
   font-display: swap;
   src: url('file:///C:/Users/STIB/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-19_004142/fonts/cerebrisans-medium/font.ttf');
}
